/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.flag-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.choices button {
    padding: 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.choices button:hover {
    background-color: #45a049;
}

#next-question {
    margin-top: 20px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#next-question:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

#score {
    margin-top: 20px;
    font-size: 18px;
}
